:root {
  --main-background-color: #4d5c41;
  --light-background-color: #66844e;
  --secondary-background-color: #384230;
  --main-border-color: #444;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "black Ops One", montserrat, sans-serif;
  margin: 0;
  background-color: #222;
}
button {
  background-color: transparent;
  border: none;
  font: inherit;
}

h1,
h2 {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-container {
  margin: 15px auto;
  width: 80vw;
}

.main-header {
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  background-color: var(--light-background-color);
  border-width: 9px;
  border-color: #666;
  border-style: inset solid outset;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background-color);
  padding: 15px;
  border: 9px solid var(--main-border-color);
  gap: 10px;

  @media (width >= 920px) {
    flex-direction: row;
    align-items: normal;
  }
}

.section {
  padding: 10px;
  border: 6px inset #222;
  background-color: var(--secondary-background-color);
  border-width: 6px;
}

.board-container {
  display: flex;
  padding: 5px;
  border: 6px inset #222;
  background-color: var(--secondary-background-color);
  justify-content: center;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column {
  display: flex;
}

.tile {
  width: 10vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-background-color);
  border: 2px solid var(--main-border-color);
  font-family: "noto sans symbols 2";
  font-size: medium;
  cursor: pointer;

  @media (width >= 700px) {
    height: 4rem;
    width: 4rem;
  }
}

.game-over,
.win-game {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background-color);
  padding: 15px;
  border: 9px solid var(--main-border-color);
}

.button__restart {
  border: 5px outset var(--main-border-color);
  background-color: var(--light-background-color);
}

.hidden {
  border: 3px outset #333;
}

.hidden:hover {
  border: 2px inset #999;
}

.not-show {
  display: none !important;
}
